h1{
    color: white;
    text-align: center;
    font-size: 100px;
    background-color: black;
    line-height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 10px 10px 10px green;
}

h1:hover{
    background-color: rgb(1, 59, 1);
    color: black;
    text-shadow: 10px 10px 10px white;

}

a{
    margin-right: 200px;
    margin-left: 200px;
    color: white;
}

h2{
    background-color: black;
    text-shadow: 10px 10px 10px green;
}

button{
    background-color: black;
    height: 50px;
    margin-left: 100px;
}

body{
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(1, 59, 1);
}

img{
    margin-left: 50px;
    width: 320px;
    height: 250px;
    margin-top: 50px;
    border-radius: 10px;
}

p{
    color: white;
}