h1{
    color: white;
    background-color: black;
    line-height: 200px;
    font-size: 100px;
    text-shadow: 10px 10px 10px green;
}

h1:hover{
    color: black;
    background-color: rgb(1, 59, 1);
    line-height: 150px;
    font-size: 120px;
    text-shadow: 10px 10px 10px white;
}

body{
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: rgb(1, 59, 1);
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover{
    background-color: white;
    color: black;
}

a{
    margin-right: 100px;
    margin-left: 100px;
    color: white;
}

h2{
    background-color: black;
}

h3{
    background-color: black;
}