h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

#shipping{
    color: blue;
}

#paragraph{
    font-weight: bold;
}

.new{
    font-style: italic;
}

#vip{
    background-color: aquamarine;
    margin: 80px;
    padding: 30px;border-radius: 20px;
    color: blue;
}

#vip h3{
    text-align: center;
    font-size: 30px;
}

#vip:hover{
    background-color: antiquewhite;
}

#surprises{
    display: flex;
    gap: 20px;
    margin: 40px;
}

#courses{
    display: flex;

    
}